.userlist {
  .titles {
    > div {
      font-size: var(--size-18);
      padding: 0 12px;
      text-decoration: underline;
    }
  }
  > div {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-16);
    > div {
      flex: 1 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
